node_modules/
dist/
.env
aesKeys.json
*.html
# OSX
#
.DS_Store
public/*
 
# Sonar
.scannerwork
.scannerwork/*
.sonar/*
# logs
app-error.log
app-info.log
 
#
project-code.txt
export-project.py
start-app.sh
 
