node_modules/
dist/
.env
aesKeys.json
*.html
*.md
HRMS_FLOW.md
ALL_APIS_DOCUMENTATION.md
curl.md
und.md
payroll.md
PAYROLL_API_GUIDE_HINGLISH.md
PAYROLL_Postman_Collection.json
EDUCATION_FLOW_FRONTEND_GUIDE.md
EDUCATION_COURSES_CATALOG_GUIDE.md
.agent
# OSX
#
.DS_Store
public/*

# Sonar
.scannerwork
.scannerwork/*
.sonar/*
# logs
app-error.log
app-info.log

#
project-code.txt
export-project.py

start-app.sh
 
